<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

<!--     <link rel="stylesheet" href="lib/normalize.css">
    <link rel="stylesheet" href="lib/skeleton.css"> -->

    <link rel="stylesheet" href="lib/photon/css/photon.min.css">
    <link rel="stylesheet" href="stylesheet.css">

    <script src="/lib/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/babylon.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/palette.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/vis.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/spg.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <!-- columns should be the immediate child of a .row -->
  <div class="window" id="main-app">
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar" id="navbar">

                <nav class="nav-group">
                  <h5 class="nav-group-title" id="spg-intsym">{{intsym}}</h5>
                  <h5 class="nav-group-title">Parent group:</h5>
                  <span class="nav-group-item" v-if="parent > 0" v-on:click="pickHallNo(parent)">
                        {{parent}} ({{spgdata.spgdata[parent].spg.international_short}})
                  </span>
                  <span class="nav-group-item" v-else>
                        None
                  </span>

                  <h5 class="nav-group-title" v-if="children.length > 0">Children:</h5>
                  <span class="nav-group-item" v-for="c in children" v-on:click="pickHallNo(c)">
                        <span class="icon icon-record" v-bind:style="{ color: colorScale(Math.log2(spgdata.spgdata[c].ops[0].length))}"></span>
                        {{c}} ({{spgdata.spgdata[c].spg.international_short}})                        
                  </span>

                </nav>

            </div>

            <div class="pane" id="visualizer">
                <canvas id="renderCanvas" touch-action="none">                
                </canvas>
            </div>

            <div class="pane-sm sidebar" id="toolbar">
                Point coordinates:
                <form>
                    <div class="form-group">
                        x:
                        <input type="text" class="form-control" v-on:change="drawDots()" placeholder="x" value="0" v-model.number="point.x">
                        y:
                        <input type="text" class="form-control" v-on:change="drawDots()"  placeholder="y" value="0" v-model.number="point.y">
                        z:
                        <input type="text" class="form-control" v-on:change="drawDots()"  placeholder="z" value="0" v-model.number="point.z">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</body>
</html>