@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro";
    overflow-y: hidden;
}

#main-app {
    height: 100vh;
}

#visualizer {
    height: 100%;
    overflow-y: hidden;    
}

#visualizer canvas {
    width: 100%;
    height: 100%;
}

#navbar {
    min-width: 250px;
    overflow-y: auto;
}

#toolbar {
    padding: 1vw;
}

#spg-intsym {
    font-size: 5vh;
    font-weight: bold;
}